---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="site-header">
  <a href="/" class="site-title">digital garden</a>
  <nav class="site-nav">
    <a href="/category/created">Created</a>
    <a href="/category/watched">Watched</a>
    <a href="/category/read">Read</a>
    <a href="/category/learned">Learned</a>
    <ThemeToggle />
  </nav>
</header>
